.form__back {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(237, 237, 237, 0.703);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.form__back.active {
    display: flex;
}
.form {
    position: relative;
    height: 375px;
    background-color: rgb(199, 211, 216);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: groove;
}
.form__close {
    padding: 2px 5px;
    position: absolute; /* para que este button tuviese esta posicion absoluta hubo que darle posicion relativa al Form 👆🏾*/
    top: 5%;
    right: 10%;
}
.form__close:hover {
    color: red;
}
.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form__sub {
    background-color: #555A88;
    color: white;
    margin-top: 10px;
    
}